{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Awkward</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, repellendus nihil labore in soluta facere, necessitatibus culpa consectetur deleniti iure eum ipsam sunt ea, impedit officiis. Natus rerum hic veniam.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/fotocv.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}