{{> head }}

    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hello, {{ capitalizar nombre }}!</h1>
        <p class="lead">Me quedo bien fea la página.</p>
        <hr class="my-4">
        <p>Menos es más, dijo nadie nunca.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{{> footer }}

